form {
    width: 50vw;
    height: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #a892ee;
    border-radius: 25px;
    font-size: medium;
}

form input,
button {
    margin: 10px;
}

form input {
    border-radius: 6px;
    width: 250px;
    height: 35px;
    font-size: medium;
    padding: 0.5rem;
    border: 1px solid #ccc;
    max-width: 100%;
}

form button {
    background-color:#40005d;
    color: white;
    border:1px solid #40005d;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-size: medium;
}